/* sidebar  */

.sidebar{

  padding: 25px 10px;
  flex: 0.33;

  .sidebarRow {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
  }

  .sidebarRow:hover {
    background-color: lightgray;
    border-radius: 10px;
  }

  .sidebarRow h4 {
    margin-left: 20px;
    font-weight: 600;
    font-size: 18px;
  }

  .sidebarRow .material-icons {
    font-size: xx-large;
    color: #2e81f4;
  }

  .user__avatar {
    border-radius: 50%;
    width: 45px;
  }

}




