<div class="container">
  <div class="left">
    <img src="assets/img/logo.svg" alt="">
    <p>
      Connect with friends and the world around you on Facebook.
    </p>
  </div>

  <div class="right">
    <div class="form">
      <input type="text" placeholder="Email address or phone number">
      <input type="password" placeholder="Password">

      <button class="login-btn">Log In</button>

      <a href="">Forgot password?</a>

      <div class="underline"></div>

      <button class="create-new-account-btn">Create New Account</button>
    </div>

    <p><a href="">Create a Page</a> for celebrity, band or business.</p>
  </div>
</div>
