.login {
  width: 100%;
  height: 100%;
  background: #f0f2f5;

  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      color: #1c1e21;
      font-size: 28px;
      width: 500px;
      margin-top: 15px;
    }

    img {
      width: 330px;
      margin: -33px;
    }

  }

  .right {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form {
      width: 400px;
      display: flex;
      flex-direction: column;
      background: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
      padding: 20px;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;

      input {
        padding: 14px 16px;
        font-size: 17px;
        border: 1px solid #dddfe2;
        color: #1d2129;
        outline: none;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        margin-bottom: 15px;
      }

      input:focus {
        box-shadow: 0 0 5px rgba(66, 133, 244, 0.7);
        border: 1px solid rgba(66, 133, 244, 0.7);
      }

      .login-btn {
        background: #1877f2;
        border: none;
        outline: none;
        font-size: 20px;
        line-height: 48px;
        padding: 0 16px;
        color: #fff;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        cursor: pointer;
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
      }

      .login-btn:hover {
        background: #1668d3;
      }

      a {
        color: #1877f2;
        text-decoration: none;
        text-align: center;
        margin: 20px 0px;
        font-size: 14px;
      }

      a:hover {
        text-decoration: underline;
      }

      .underline {
        width: 100%;
        height: 1px;
        background: #dadde1;
        margin-bottom: 20px;
      }

      .create-new-account-btn {
        width: 200px;
        margin: auto;
        background: #42b72a;
        border: none;
        outline: none;
        font-size: 18px;
        line-height: 48px;
        padding: 0 16px;
        color: #fff;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        cursor: pointer;
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
      }

      .create-new-account-btn:hover {
        background: #35ac1d;
      }

    }

    p {
      text-align: center;
      margin-top: 20px;
      color: #1c1e21;
      font-size: 14px;

      a {
        text-decoration: none;
        color: #1c1e21;
        font-weight: bold;
      }

      a:hover {
        text-decoration: underline;
      }
    }

  }

}
