<div *ngIf="getStatusTransactions()">
THERE ARE NOT TRANSACTIONS
</div>


<div >
TOTAL ETH: {{getMoneyGlobalStatus('eth')}}
TOTAL BTC: {{getMoneyGlobalStatus('btc')}}
</div>

<p>---------------WALLETS----------------------------</p>

<div *ngFor="let wallet of wallets; let i = index;">
  <app-wallet
    [data]="wallet"
  >
  </app-wallet>
</div>

<p>-------------------TRANSACTIONS------------------------------------</p>

<div *ngFor="let transaction of transactions; let i = index;">
<app-transaction [data]="transaction"></app-transaction>
</div>