<button directive1Test (click)="onAddVideo()">add Video</button>
<button  directive1Test (click)="person1Unsubscribe()">Uns PersonA</button>

<input type="text" [(ngModel)]="color">

<p [directive1Test]="color"
   (outputTest)="test($event)"
  >Ni primera directiva de atributo </p>


<input type="checkbox" [(ngModel)]="sw"> ngIfRicardo

<div *ngIfRicardo="sw"  (test)="test100($event)">

  <p>my own strcutural directive </p>

</div>


<div #myDiv1>contnet</div>
<p>{{myDiv1}}</p>

<ricardo-comp #myCompRicardo></ricardo-comp>

<input type="text" #myDiv2 value="asdasd">
<p>{{myDiv2}}</p>

<button (click)="onShowLocalVars()">show local vars</button>
