<p>App component</p>

<p>{{myvarasdasdasdasdas}}</p>
<ricardo-comp
[status]="myStatus" 
(onSendData)="printDataRicardoComp($event)">
</ricardo-comp>

<input type="text" [(ngModel)]="myStatus">


<p>----------------------</p>
  <span *ngFor="let item of ['first', 'second', 'thrid']; let i = index;">
    <ricardo-comp
    *ngIf="item !== 'first'"
    [status]="item" 
    (onSendData)="printDataRicardoComp($event)">
    </ricardo-comp>0
  </span>
  <p>-------------------------------</p>

<input type="text" [(ngModel)]="color">
<ul [ngSwitch]="color">
  <li *ngSwitchCase="'red'">
  <ricardo-comp 
      
    [status]="color" 
    (onSendData)="printDataRicardoComp($event)">
    </ricardo-comp>
  </li>
  <li *ngSwitchCase="'yellow'">
  <app-test3 
  [name]="clor">
  </app-test3></li>
  <li *ngSwitchCase="'green'">green</li>
  <li *ngSwitchDefault>Default Orange</li>
</ul>





<button (click)="sw = !sw">SHOW TEST3</button>
<div  *ngIf="sw else myComp1">
  <app-test3 
  [name]="myStatus">
  </app-test3>
</div>

<div #myDiv1>
  <p>My DIv 1</p>
</div>

<ng-template #myVarElse>
  <p>It is my template</p>
  <p>It is my template</p>
  <p>It is my template</p>
  <p>It is my template</p>
</ng-template>



<app-test2
name="juan" 
lastName="gutierres" 
(onSendData)="printData($event)">

<p>Mi propio contenido</p>
<p>Mi propio contenido</p>
<button>mi boton</button>

</app-test2>


<button (click)="sw = !sw">SHOW TEST3</button>
<ng-container *ngIf="sw" style="margin: 30px;">
 <p>NG CONTAINER</p>
</ng-container>


<input type="string" [(ngModel)]="color">
<p>-----------------------------</p>
<p [style.fontSize.px]="color"
>
  my p with style
</p>

<p [ngStyle]="{
  'background': color,
  'border': '5px gray solid'
}">
  my p with ng style
</p>

<p>-----------------------------</p>

<div [class.est1]="color === 'hola'"> 
  my div with class
</div>

<div [ngClass]="{
  'est1': color === 'hola0',
  'est2': color === 'hola1',
  'est3': color === 'hola2'
}"> 
my div with ng class
</div>