.story {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 120px;
  height: 200px;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin-right: 10px;
  transition: transform 100ms ease-in;
  cursor: pointer;

  .story:hover {
    transform: scale(1.07);
  }

  .story__avatar {
    margin: 10px;
    color: blue;
  }

  h4 {
    font-size: 15px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
  }

  .user__avatar {
    border-radius: 50%;
    width: 45px;
  }
}
